@model Employee.MvcClient.Models.Employee

@{
    ViewData["Title"] = "Delete Employee";
}

<h1>Delete Employee</h1>

<h3 class="text-danger">Are you sure you want to delete this employee?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">Employee ID</dt>
        <dd class="col-sm-9">@Model.EmployeeId</dd>
        
        <dt class="col-sm-3">First Name</dt>
        <dd class="col-sm-9">@Model.FirstName</dd>
        
        <dt class="col-sm-3">Last Name</dt>
        <dd class="col-sm-9">@Model.LastName</dd>
        
        <dt class="col-sm-3">Email</dt>
        <dd class="col-sm-9">@(Model.Email ?? "N/A")</dd>
        
        <dt class="col-sm-3">Salary</dt>
        <dd class="col-sm-9">@(Model.Salary?.ToString("C") ?? "N/A")</dd>
        
        <dt class="col-sm-3">Department ID</dt>
        <dd class="col-sm-9">@Model.DepartmentId</dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="EmployeeId" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </form>
</div>
